@main-color:#f59176;
@black-color:#333333;
@white-color:#ffffff;
@light-grey:#e5e5e5;

.clearfix {
  display: block;
  zoom: 1;
  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.input-common{
  font-size: 15px;
  color: @black-color;
  background-color: @light-grey;
  padding: 0px 15px 0px 15px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 0px @main-color;
  transition: all 0.2s;
  outline: none;
  &:focus{
    background-color: lighten(@light-grey,20%);
    box-shadow: 0px 0px 2px @main-color;
    outline: none;
  }
}